#canvasWrap
{
	position:relative;
}

#cardTitle
{
	/* 	border : solid 1px black; */
	position : absolute;
	width: 200px;
	left : 80px;
	top : 406px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	font-style : italic;
	font-weight : 800;
	color : black;
	text-align:center;
}

#cardComment
{
/* 	border : solid 1px black; */
	position : absolute;
	width: 220px;		
	left : 50px;
	top : 292px;
	font-family : Georgia, serif;
	font-size : 11px;
	font-style : italic;
	color : white;
	text-align : center;	
}

#cardPower
{
/* 	border: solid 1px black; */
	position : absolute;
	width: 73px;		
	left : 55px;
	top : 433px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-style : italic;
	font-weight : 900;
	text-shadow: 2px 2px #000000;
	text-align : center;
	color : yellow;	
}

#cardClan
{
/* 	border: solid 1px black; */
	position : absolute;
	width: 84px;		
	left : 188px;
	top : 434px;	
	font-family : Arial, Helvetica, sans-serif;	
	font-style : italic;
	text-align : center;
	color : #ffffff;
	font-size : 9px;
	line-height : 9px;	
}

#cardRace
{
/* 	border: solid 1px black; */
	position : absolute;
	width: 84px;		
	left : 188px;
	top : 446px;	
	font-family : Arial, Helvetica, sans-serif;	
	font-style : italic;
	text-align : center;
	color : #ffffff;
	font-size : 7px;
	line-height : 10px;
}

#cardCanvas
{
	margin-right: 50px;
	padding: 0px;		
	float: left;
}

.editor
{
	float : left;
	width : 300px;
	border: 1px solid #C5D5DD;
	background: none repeat scroll 0 0 #FFFFFF;	
	border-radius: 4px 4px 4px 4px;	
	padding : 8px;
	box-shadow : 0 0 5px #777777;
}

.editor h1
{
	padding : 8px 0;
}

.editor form
{
	padding : 8px 0 0 0;
	border-top : 1px solid #C5D5DD;
}
.editor li
{
	padding : 8px 0;
}

.editor a img
{
	margin-right : 3px;
}

.editor a:hover img
{
	box-shadow: 0 0 3px #777777;
}

#ability_text
{
	width : 100%;
	height: 100px;
	border: 1px solid #888888;
}

.cssbutton
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffa200;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #ffbf00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}